header {
	background-color: aqua;
	justify-content: space-between;
        display: flex;
	height: 20em;
}
header .about {
	padding-top: 5em;
	justify-content: 3em space-between;
	margin-left: 2em;
}
header .name {
	background-color: aquamarine;
	border: 10px;
	border-color: aliceblue;
	border-style: solid;
	font-style: oblique;
	font-size: 3em;
}
header .img img {
	margin-right: 1em;
	margin-top: 1em;
	border-radius: 10em;
}
/*=======================================================*/
.container {
	width: 60%;
	border-style: solid;
	border-color: aqua;
	margin-top: 2em;
	margin-left: 22em;
	box-shadow: 5em;
}
.hello {
	margin-top: 1em;
	font-size: 25px;
	text-align: center;
}
.profile {
	font-size: 20px;
	text-align: center;
}
.projects {
	background-color: azure;
}
.heading {
	text-align: center;
	font-size: 25px;
}
.listed ul {
	display: flex;
	justify-content: space-between;
	margin-left: 8em;
	margin-right: 8em;
	font-size: 20px;
	margin-top: 3em;
}
.logos {
	margin-top: 3em;
	display: flex;
	justify-content: space-between;
	margin-left: 8em;
	margin-right: 8em;
	font-size: 20px;
}