header {
	background-color: aqua;
	justify-content: space-between;
        display: flex;
	height: 20em;
}
header .about {
	padding-top: 5em;
	justify-content: 3em space-between;
	margin-left: 2em;
}
header .name {
	background-color: aquamarine;
	border: 10px;
	border-color: aliceblue;
	border-style: solid;
	font-style: oblique;
	font-size: 3em;
}
header .img img {
	margin-right: 1em;
	margin-top: 1em;
	border-radius: 10em;
}
/*=======================================================*/
.container {
	width: 60%;
	border-style: solid;
	border-color: aqua;
	margin-top: 2em;
	margin-left: 22em;
}
.hello {
	margin-top: 1em;
	font-size: 25px;
	text-align: center;
}
.profile {
	font-size: 20px;
	text-align: center;
}
.profile a {
	color: blue;
	font-style: italic;
}
/*=======================================================*/
.projects {
	background-color: azure;
}
.heading {
	text-align: center;
	font-size: 25px;
}
.listed ul {
	display: flex;
	justify-content: space-between;
	margin-left: 8em;
	margin-right: 8em;
	font-size: 20px;
	margin-top: 3em;
}
.listed a {
	color: blue;
	font-style: italic;
}
.logos {
	margin-top: 3em;
	display: flex;
	justify-content: space-between;
	margin-left: 8em;
	margin-right: 8em;
	font-size: 20px;
}
.logos h4 {
	font-style: italic;
}
.logos .image3 span {
	color: rgb(33, 19, 241);
}
/*======================================================*/
footer {
	text-align: center;
	background-color: aqua;
}
.social {
	margin-top: 3em;
}
.social2 a img {
	margin-top: 1em;
	border-radius: 10em;
}