header {
	background-color: aqua;
	justify-content: space-between;
        display: flex;
	height: 15em;
	overflow: scroll;
}
header .about:hover {
	color: blue;
	padding: 16px 32px;
        padding-top: 5em;
	justify-content: 3em space-between;
	transition-duration: 0.4s;
	margin-left: 2em;
}
header .name {
	background-color: aquamarine;
	border: 10px;
	border-color: aliceblue;
	border-style: solid;
}
header .name h1 {
	margin-top: 1em;
	font-style: oblique;
	font-size: 3em;
}
header .img img {
	margin-right: 1em;
	margin-top: 5px;
	border-radius: 10em;
}
/*=======================================================*/
.container {
	width: 60%;
	border-style: solid;
	border-color: aqua;
	margin-top: 2em;
	margin-left: 22em;
}
.hello {
	margin-top: 1em;
	font-size: 25px;
	text-align: center;
}
.profile {
	font-size: 20px;
	text-align: center;
}
.profile a {
	color: blue;
	font-style: italic;
}
/*=======================================================*/
.projects {
	background-color: azure;
}
.heading {
	text-align: center;
	font-size: 25px;
}
.listed ul {
	display: flex;
	justify-content: space-between;
	margin-left: 8em;
	margin-right: 10em;
	font-size: 20px;
	margin-top: 3em;
}
.listed a {
	color: blue;
	font-style: italic;
}
.logos {
	margin-top: 2em;
	display: flex;
	justify-content: space-evenly;
	margin-left: 5em;
	margin-right: 2em;
	font-size: 20px;
}
.logos .image2 {
	inline-size: 20em;
}
.logos .image2 p {
	margin-top: 3em;
}
.logos h4 {
	font-style: italic;
}
.logos .image3 span {
	color: rgb(33, 19, 241);
}
.logos .image3 .p {
	font-style: italic;
	font-weight: 600;
}
.logos .image3 ul {
	font-size: 25px;
}
.logos .image1 p {
        margin-top: 3em;
}
/*======================================================*/
footer {
	display: flex;
	justify-content: space-evenly;
	background-color: aqua;
}
.social {
	margin-top: 3em;
}
.social a {
        color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social2 a img {
	margin-top: 25px;
	border-radius: 10em;
}
.social2 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social3 img {
	margin-top: 20px;
	border-radius: 10em;
}
.social3 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social4 a {
	color: rgb(33, 19, 241);
	font-size: 1.5em;
}
.social4 img {
	margin-top: 25px;
	border-radius: 10em;
}
/*====================================================*/
.email {
	margin-bottom: 50px;
}
#footer1 {
	font-size: 2em;
}
#form {
	display: flex;
}
#form label {
	font-size: 1.5em;
}
#form #btn {
	color: rgb(33, 19, 241);
	box-shadow: 2px 2px 1px gold;
	border-radius: 6%;
	text-align: center;
	font-size: 30px;
}
.email span {
	color: red;
	font-size: 1.5em;
}
.alert {
	text-align: center;
	padding: 10px;
	background: greenyellow;
	color: rgb(90, 38, 38);
	display: none;
}
/*===================================================*/
.copyright {
	text-align: center;
	background-color: aquamarine;
	height: 2em;
}
.copyright span {
	color: red;
	font-weight: 1000;
	font-size: 20px;
}